<mat-card class="full-width ">
  <!-- Title of an Card -->
  <mat-card-title>
    Login
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="formLogin" (ngSubmit)="submitForm()" novalidate>
      <section class="example-section">
        <!-- Email -->
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />

          <mat-hint>Email</mat-hint>
          <!-- error -->
          <mat-error *ngIf="errorHandling('email', 'required')">
            El <b>email</b> es requerido
          </mat-error>
        </mat-form-field>
      </section>
      <section class="example-section">
        <!-- Password -->
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />

          <mat-hint>Password</mat-hint>
          <!-- error -->
          <mat-error *ngIf="errorHandling('password', 'required')">
            El <b>password</b> es requerido
          </mat-error>
        </mat-form-field>
      </section>
      <section class="example-section">
        <!-- Submit -->
        <div class="button-wrapper">
          <button mat-flat-button color="primary">Login</button>
          <button mat-flat-button color="warn" type="reset" (click)="onReset()">
            Cancelar
          </button>
        </div>
      </section>
    </form>
  </mat-card-content>
</mat-card>


