<mat-card class="full-width ">
  <!-- Title of an Card -->
  <mat-card-title>
    Actualizar Credenciales
  </mat-card-title>

  <mat-card-content>
      <form
      *ngIf="usuario"
      [formGroup]="formUpdate"
      (ngSubmit)="submitForm()"
      novalidate
    >
      <section class="example-section">
        <input type="hidden" formControlName="id" />
        <!-- Email -->
        <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="nombre"/>
          <mat-hint>Nombre</mat-hint>
          <!-- error -->
          <mat-error *ngIf="errorHandling('nombre', 'required')">
            El <b>nombre</b> es requerido
          </mat-error>
        </mat-form-field>
      </section>
      <section class="example-section">
        <!-- Email -->
        <mat-form-field>
          <input matInput placeholder="Apellidos" formControlName="apellidos" />

          <mat-hint>Apellidos</mat-hint>
          <!-- error -->
          <mat-error *ngIf="errorHandling('apellidos', 'required')">
            Los <b>apellidos</b> son requeridos
          </mat-error>
        </mat-form-field>
      </section>
      <section class="example-section">
        <!-- Email -->
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />

          <mat-hint>Email</mat-hint>
          <!-- error -->
          <mat-error *ngIf="errorHandling('email', 'required')">
            El <b>email</b> es requerido
          </mat-error>
        </mat-form-field>
      </section>
      <section class="example-section">
        <mat-form-field>
          <mat-label>Sexo</mat-label>
          <select matNativeControl formControlName="sexo">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
          <!-- error -->
          <mat-error *ngIf="errorHandling('sexo', 'required')">
            El <b>sexo</b> es requerido
          </mat-error>
        </mat-form-field>
      </section>
      <section class="example-section">
        <!-- Email -->
        <mat-form-field>
          <input matInput placeholder="Teléfono" formControlName="telefono" />

          <mat-hint>Teléfono</mat-hint>
          <!-- error -->
          <mat-error *ngIf="errorHandling('telefono', 'required')">
            El <b>teléfono</b> es requerido
          </mat-error>
        </mat-form-field>
      </section>
      <section class="example-section">
        <mat-form-field>
          <mat-hint>Fecha de Nacimiento</mat-hint>
          <input matInput [matDatepicker]="fecha_nacimiento" />
          <mat-datepicker-toggle
            [for]="fecha_nacimiento"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #fecha_nacimiento></mat-datepicker>
        </mat-form-field>

        <mat-error *ngIf="errorHandling('fecha_nacimiento', 'required')">
          La <b>fecha de nacimiento</b> es requerida
        </mat-error>
      </section>
      <section class="example-section">
        <mat-form-field>
          <mat-label>Plan</mat-label>
          <mat-select formControlName="plan_id">
            <mat-option *ngFor="let plan of planList?.data" [value]="plan.id"
              >{{ plan.nombre }}
            </mat-option>
          </mat-select>
          <!-- error -->
          <mat-error *ngIf="errorHandling('plan_id', 'required')">
            El <b>plan</b> es requerido
          </mat-error>
        </mat-form-field>
      </section>
      <section class="example-section">
        <!-- Password -->
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
          <mat-hint>Password</mat-hint>
          <!-- error -->
          <mat-error *ngIf="errorHandling('password', 'required')">
            El <b>password</b> es requerido
          </mat-error>
        </mat-form-field>
      </section>
      <section class="example-section">
        <!-- Submit -->
        <div class="button-wrapper">
          <button mat-flat-button color="primary" (click)="submitForm()">Actualizar</button>
          <button mat-flat-button color="warn" type="reset" (click)="onReset()">
            Cancelar
          </button>
          <button mat-raised-button color="accent" (click)="onBack()">
            Regresar
          </button>
        </div>
      </section>
    </form>
  </mat-card-content>
</mat-card>

